<% content_for :tellimus do %>
  <%= render('tellimus/subscriptions/braintree_js.html.erb').html_safe %>
<% end %>

<%= form_for @subscription, url: url, html: {id: 'payment-form', class: 'form-horizontal'} do |f| %>

  <fieldset id="form-fieldset">

    <legend><%= title %></legend>

    <%= f.hidden_field :plan_id %>

  </fieldset>

  <div class="control-group">
    <div class="controls">
      <% if Tellimus.free_trial? %>
        <button type="submit" class="btn btn-primary submit-button"><%= t('koudoku.payment.save_billing_info') %></button>
      <% else %>
        <button type="submit" class="btn btn-primary submit-button" id='submit-button'><%= t('koudoku.payment.upgrade_account') %></button>
      <% end %>
      <%= link_to t('koudoku.payment.cancel'), owner_subscriptions_path(@owner), class: 'btn' %>
    </div>
  </div>

<% end %>
